<?xml version="1.0" encoding="UTF-8"?>
<!-- <system.web> -->
<!-- If you have a physical folder for the workspace/theme in your aspx folder, add the following line, wich will load this file -->
<!-- <pages configSource="aspx\[workspace-name]\default_8.5\pages.config" /> -->
<!-- If you use a virtual folder config in IIS instead, copy this in <system.web> -->
<pages compilationMode="Auto" enableViewState="false" enableViewStateMac="false" validateRequest="false">
	<namespaces>
		<add namespace="com.alphinat.sg" />
		<add namespace="com.alphinat.sgs" />
		<add namespace="com.alphinat.sgs.smartlet.session" />
		<add namespace="com.alphinat.sg5" />
		<add namespace="com.alphinat.sg5.widget.repeat" />
		<add namespace="com.alphinat.sg5.widget.group" />
		<add namespace="com.alphinat.sg5.widget.date" />
	</namespaces>
	<controls>
		<add namespace="Alphinat.SmartGuideServer.Controls" assembly="apnsgscontrols" tagPrefix="apn" />
	</controls>
</pages>