<?xml version="1.0" encoding="UTF-8"?>
<!-- <system.web> -->
<!-- <pages configSource="aspx\Examples\default_8.5\pages.config" /> -->
<pages validateRequest="false" >
	<controls>
		<add namespace="com.alphinat.sgs" assembly="apn-sgs" tagPrefix="apn" />
		<add namespace="com.alphinat.sg5" assembly="smartlets-api5" tagPrefix="apn" />
		<add namespace="com.alphinat.sg5.widget.repeat" assembly="smartlets-api5" tagPrefix="apn" />
		<add namespace="com.alphinat.sg5.widget.group" assembly="smartlets-api5" tagPrefix="apn" />
		<add namespace="com.alphinat.sg5.widget.date" assembly="smartlets-api5" tagPrefix="apn" />
		<add namespace="com.alphinat.sg" assembly="smartlets-api5" tagPrefix="apn" />
		<add namespace="com.alphinat.sgs" assembly="apnsgscontrols" tagPrefix="apn" />
		<add namespace="Alphinat.SmartGuideServer.Controls" assembly="apnsgscontrols" tagPrefix="apn" />
	</controls>
</pages>