/* Place your Bootstrap and SmartGuide overwrites here as well as any custom classes */
/* General properties */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.846;
    color: #666666;
    background-color: #ffffff;
}

/* Sticky Footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom:40px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    background-color: #f5f5f5;
}

body > .container {
    padding-top: 60px;
    padding-bottom: 20px;
}
/* Sticky Footer */

.logo {
    padding-top: 16px;
}

.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  }
  
  #sidebar.affix-bottom {
    position: relative;
  }

  #sidebar.affix {
    position: fixed;
    top:115px;
  }
}

/* Tooltip and popover */
.tooltip, .popover {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* First set of links in top navigation bar */
.navbar-collapse > ul:first-of-type a {
	text-transform: uppercase;
}
/* Logo */
@media (max-width: 768px) {
	img.logo {
		max-width: 60%;
	}
}
@media (min-width: 768px) {
	.page-header h1 {
		font-size: 24px;
		margin: 40px 0;
	}
}
@media (min-width: 768px) {
	.page-title h2 {
		font-size: 24px;
	}
}
/* Readonly */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	color: #bbb;
}

div.repeat:not(.grid-view) table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    display:none!important;
}

div.repeat:not(.grid-view) table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
    padding-left:15px!important;
}

div.repeat:not(.grid-view) table {
border-collapse: collapse!important;
}

.nowrap {
    white-space: nowrap;
}

.modal-body {
    
/* 100% = dialog height, 120px = header + footer */
    
max-height: calc(100vh - 120px);
    
overflow-y: auto;

}

.plain-group .panel-body {
    padding:0px!important;
}

.datatable-search {
    margin-right: 15px;
}

.modal-body {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

.plain-group .panel-body {
    padding: 0px !important;
}

.panel-borderless {
    border       : 0;
    box-shadow   : none;
    margin-left  : -15px;
    margin-right : -15px;
    margin-top   : 0px;
    margin-bottom: 0px;
}

.panel-borderless .panel-heading {
    background: #fff;
    border-width: 0px;
}

.table-td:first-child {
    padding-left: 0px;
    padding-right: 5px;
}

.table-td:last-child {
    padding-left: 5px;
    padding-right: 0px;
}

.table-td {
    padding-left: 5px;
    padding-right: 5px;
}

.table td:last-child {
    width:-webkit-fill-available;
}

.margin-0 {
    margin: 0px;
}

.emptyLegend {
    font-size    : inherit;
    border-bottom: 0;
    display      : none;
    visibility   : hidden;
}

.footnote {
    font-size: x-small;
}

.locale-picker {
    margin-top: 8px;
}

.lang-picker {
    text-align: center;
}
/* Buttons - start */
/* xsmall button patch */
.btn-xs {
    min-height: 15px;
}

/* xlarge button - start */
.btn-xlarge {
    padding         : 15px 20px !important;
    font-size       : 20px !important;
    border-radius   : 6px;
    margin          : 5px;
    background-color: #ddd;
}

.btn-xlarge.btn-primary {
    background-color: #337ab7;
}

.btn-xlarge.btn-success {
    background-color: #5cb85c;
}

/* Buttons in a no-col span */
.no-col button {
    margin-left: 5px;
    margin-top: 5px;
}

.no-col button.pull-left {
    margin-right: 5px;
    margin-top: 5px;
	margin-left: 0px !important;
}
/* Buttons - end */

/* Radio & Checkbox - Adjust + Inline */
.checkbox {
    margin-top : 5px;
    margin-left: 15px;
}

.radio {
    margin-top : 5px;
    margin-left: 15px;
}

tr label .large-radio, tr label .large-checkbox {
    padding-top: 0px;
    padding-bottom: 0px;
}
tr .checkbox, tr .radio {
    margin-top: 0px;
    margin-bottom: 0px;
}

.radio-inline,
.checkbox-inline {
    padding-left : 38px;
    margin-bottom: 5px;
}

/* Large Checkbox Start */
.large-checkbox label {
    padding-top   : 5px;
    display       : inline-block;
    vertical-align: middle;
}

.large-checkbox>legend>label {
    margin-left: 0px;
}

input[type="checkbox"].large-checkbox {
    -webkit-appearance: none;
    width             : 24px;
    height            : 24px;
    background        : white;
    border-radius     : 4px;
    border-top        : 2px solid #aaa;
    border-bottom     : 2px solid #aaa;
    border-left       : 2px solid #aaa;
    border-right      : 2px solid #aaa;
    vertical-align    : bottom;

}

input[type="checkbox"].large-checkbox:hover {
    border-bottom: 1px solid #929496;
}

input[type="checkbox"].large-checkbox:checked::before {
    font-family  : "Font Awesome 5 Free";
    font-weight  : 900;
    font-size    : 16px;
    content      : "\f00c";
    color        : #555;
    position     : absolute;
    padding-left : 3px;
    padding-top  : 3px;
}

input[type="checkbox"].large-checkbox:indeterminate::before {
    font-family  : "Font Awesome 5 Free";
    font-weight  : 900;
    font-size    : 16px;
    content      : "\f068";
    color        : #555;
    position     : absolute;
    padding-left : 3px;
    padding-top  : 3px;
}
/* Large Checkbox - End */

/* Large Radio - Start */
.large-radio label {
    padding-top   : 5px;
    display       : inline-block;
    vertical-align: middle;
}

.large-radio>legend>label {
    margin-left: 0px;
}

input[type="radio"].large-radio {
    -webkit-appearance: none;
    width             : 24px;
    height            : 24px;
    background        : white;
    border-radius     : 100px;
    border-top        : 2px solid #aaa;
    border-bottom     : 2px solid #aaa;
    border-left       : 2px solid #aaa;
    border-right      : 2px solid #aaa;
    vertical-align    : bottom;
}

input[type="radio"].large-radio:hover {
    border-bottom: 1px solid #929496;
}

input[type="radio"].large-radio:checked::before {
    font-family : "Font Awesome 5 Free";
    font-weight : 900;
    font-size   : 14px;
    content     : "\f111";
    color       : #555;
    position    : absolute;
    padding-left: 3px;
    padding-top : 3px;
}
/* Large-Radio - End */