/* Page header */
.hide-header > .navbar {
  display: none;
}
.hide-header .page-header {
  display: none;
}
/* Page sections breadcrumb trail */
.section {
  margin-bottom: 1em;
  margin-top: 0; 
}
@media (min-width: 768px) {
  .section {
    margin-bottom: 2em;
  }
}
.section ol {
  background-color: #ececec;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: table;
  line-height: 0;
  margin: 0 auto;
  padding: 0 0 0 0px;
  position: relative;
  min-width: 100%; 
}
.section li {
  display: table-cell;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: #757575;
  position: relative;
  overflow: hidden; 
}
.section-count-6 li {
  width: 16.66%; 
}
.section-count-5 li {
  width: 20%; 
}
.section-count-4 li {
  width: 25%; 
}
.section-count-3 li {
  width: 33.33%; 
}
.section li:first-child,
.section li:first-child p {
  border-top-left-radius: 5px;
  border-borrom-left-radius: 5px;
  padding-left: 0; 
}
.section li:last-child,
.section li:last-child p {
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px; 
}
.section li:last-child p:after {
  content: ""; 
}
.section li p {
  display: inline-block;
  line-height: normal;
  height: 3.4em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  white-space: nowrap; 
}
.section li:first-child p {
  padding-left: 5px; 
}
.section li:last-child p {
  background-image: none;
  padding-right: 5px; 
}
.section li p::after {
  background: url("../img/section.png") no-repeat scroll right center;
  content: " ";
  display: block;
  height: 3.4em;
  right: 0;
  position: absolute;
  top: 0;
  width: 2.4em; 
}
.section li:last-child p:after {
  display: none; 
}
.section li p.before-current:after {
  background: url("../img/section-current.png") no-repeat scroll right center #0C7CD5; 
}
.section li p {
  color: #6a6a6a; 
}
.section li p.current {
  background-color: #0C7CD5;
  color: white;
  text-align: left; 
}
.section li:first-child p.current {
  padding-left: 5px; 
}
.section li p.current:after {
  background: url("../img/section.png") no-repeat scroll right center #0C7CD5; 
}
.section li p .number {
  display: inline-block;
  font-size: 1.85em;
  line-height: 1.85em;
  padding: 0px 0.8em 0px 0px;
  vertical-align: middle; 
}
.section li p.current .number {
  font-size: 1.85em;
  line-height: 1.85; 
}
.section li:first-child p .number {
  padding: 0 1.2em 0 5px; 
}
.section li:last-child p .number {
  padding: 0px 5px 0px 0px; 
}
.section li p.current .number {
  padding: 0px 5px 0px 5px; 
}
.section li p .text {
  display: none;
  margin-right: 2.4em;
  padding: 0 0 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  min-width: 0;
  max-width: 11em; 
}
.section li p.current .text {
  display: inline-block;
  padding: 0 2.4em 0 0; 
}
@media screen and (min-width: 36em) {
  .section li p .number,
    .section li p.current .number{
      font-size:2.85em;    
      line-height: 1.25;
  }
  .section li p.current {
      text-align: center;
  }
  .section li p .text {
      text-align: left;
        white-space: normal;
        max-width: 13.5em;
  }
}
@media screen and (min-width: 60em) {
  .section li p,
  .section li p.current {
      text-align: left;
  }
  .section li p .number,
  .section li p:first-child .number,
  .section li p:last-child .number,
  .section li p.current .number{
      padding:0px 5px 0px 10px;
  }
  .section li p .text{
      display:inline-block; 
        padding: 0 2.4em 0 0;
        white-space: normal;
        max-width: 20em;
  }
  .section li p.current::before {
      height: 3.4em;
  }
}
.hide-breadcrumb .section {
  display: none;
}
/* Progress bar */
.progress {
  height: auto;
  margin-top: 5px;
  margin-left: -10px;
  margin-right: -10px;
}
.hide-progress-bar .progress {
  display: none;
}
/* Alert link */
.alert > a:link, 
.alert > a:visited,
.alert > a:hover,
.alert > a:active {
  text-decoration: underline;
  color: #fff;
}
/* Help link */
.link-help {
  display: inline-block;
  margin-top: 1px;
  color: #000;
}
/* Optgroup label */
label.optgroup {
  display: block;
  margin-top: 5px;
}
/* Sub Smartlet button */
input.subSmartletBtn {
  display: block;
}
/* Plain group classes */
.plain-group .panel-heading, .smartmodal .panel-heading{
  display: none;
}
.plain-group, .smartmodal{
  border: 0px;
  border-color: #fff;
  box-shadow: none;
}
/* Repeat groups */
table.dataTable {
  border: 1px solid #ddd;
}
div.repeat > div.panel-heading > div:not(.modal) {
  display: inline;
  font-size: 1.3em;
}
div.repeatblock > div.panel-heading > div:not(.modal) {
  display:inline;
  font-size: 1.3em;
}
div.repeatinstance {
  margin-bottom: 0px;
}
div.repeatinstance div.panel-heading > div:first-child {
  display: inline;
}
div.repeat table{
  width: 100%;
  padding-bottom: 5px;
}
div.repeat table td {
  padding: 5px 0 5px 15px;
}
.dataTable td .form-control, 
.dataTable .form-group {
  width: 100%;
}
div.repeat table thead tr {
  font-weight:bold;
  background-color: #ffffff;
}
div.repeat table tbody tr {
  background-color: #ffffff;
}
div.repeat table td.repeatbutton {
  text-align: center;
  padding-left: 0;
}
div.repeat table td.repeatbutton > span {
  margin-right:3px;	
}
table.dataTable thead > tr > th.repeatbutton {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
div.repeatblock .repeat_block_del_btn {
  margin-right:4px;
}

th.repeatbutton > .repeat_table_add_btn {
	width: 80px;
}

div.repeat .selectBoxControl {
	width: 20px;
}

div.repeatinstance {
	/* margin-right:10px !important; */
}
/* Block-mode help div */
.groupHelp {
  padding: 5px 15px;
}
/* repeat instance modal */
.modal {
  text-align: center;
}
.modal-messages {
  margin: -15px -15px 20px;
  padding-left: 14px;
}
.alert.modal-messages {
  margin-top: -20px;
  padding: 9px 9px 9px 14px;
  border-radius: 0;
}
.modal-header, 
.modal-body, 
.modal-footer {
  background-color: #ffffff;
}
@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal .modal-header {
  cursor: move;
}
span.repeat_table_del_btn, 
span.repeat_block_del_btn, 
span.repeat_table_moveup_btn, 
span.repeat_block_moveup_btn, 
span.repeat_table_movedown_btn, 
span.repeat_block_movedown_btn, 
span.repeat_table_add_btn, 
span.repeat_block_add_btn {
  cursor:pointer;
}
/* fix for position of sort icon in table mode (datatable) */
table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:after {
  bottom: 0px;
}
/* fixing problem with datepicker inside datatables */
div.datepicker table thead > tr > th, 
div.datepicker table tbody > tr > td {
  padding: 5px;
  border-radius: 0px;
}
/* adjustements for mobile */
@media only screen and (max-width: 768px) {
  .bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 0px;
  }
}
/* Inline radio buttons and checkboxes */
legend {
  font-size: inherit;
  margin-bottom: 10px;
}
.emptyLegend {
  font-size: inherit;
  border-bottom: none;
}
.radio-inline,
.checkbox-inline {
  padding-left: 25px;
}
input+.radio-inline, input+.checkbox-inline {
	margin-left: 10px;
}
fieldset .radio-inline:first-of-type, fieldset .checkbox-inline:first-of-type {
	margin-left: 0px;
}
/* Knowledge base*/
.knowledge {
  margin-bottom: 15px;
}
.knowledge h2 {
  margin-top: 0;
}
.knowledge .row {
  border-bottom: 1px solid #eeeeee;
  padding: 5px 0;
  margin-bottom: 5px;
}
.knowledge .col-sm-3 {
  font-weight: bold;
}
/* Data recap */
.recap input.btn {
  margin-top: -4px;
}
/* Remove or comment the following 3 lines to display the label and value side-by-side in the recap */
.recap .col-sm-6 {
  width: 100%;
}
.recap .col-sm-6 span {
  font-weight: bold;
}
/* Page navigation */
.navigation {
  margin-top: 10px;
}
.navigation .col-xs-6 {
  text-align: center;
}
.btn-primary.next {
  background-color: #0c7cd5;
}
/* Page footer */
.footer {
  margin-top:10px;
  border-top: 1px solid #eee;
}
.hide-footer .footer {
  display: none;
}
/*repeat pagination*/
ul.pagination {
  padding: 0;
  margin: 0;
  float: right;
}

select.pageSize {
	width:40px !important; 
	padding:0 10px 0 10px;
}
input.pageSize {
	width:40px !important; 
	padding:0 10px 0 10px;
}
/* Center the loader */
#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display:none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
